*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

header
{
    height: 70px;
    text-align: right;
    background-color: rgb(0, 0, 0);
}

.header-btn{
    background-color: grey;
    color: white;
    margin: 10px 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}



/* STILE MAIN */


.items{
    height: 150px;
    width: 250px;
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    position: relative;
    margin: 5px;
}

.container{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

main{
    height:calc(100vh - 150px);
    overflow: auto;
}
.user{
    color: white;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color: rgba(255,255,255,0.3);
}




/*  STILE FOOTER  */


footer{
    background-color:#222;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
}

.left-column,.central-column{
    display: flex;
    align-items: center;
    text-align: center;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-icons{
    padding:10px 15px
}

.icons{
    font-size: 30px;
}


.end-meet-btn{
    height: 80px;
    padding: 0 20px;
    background-color: grey;
    color: red;
    border: none;
}

.element-name{
    padding: 5px;
    display: block;
}

#share{
    color: rgb(57, 167, 57);
}
